// components/_card.scss
// Composant carte restaurant (BEM : .card)
// Gère image, texte, badge "Nouveau", icône coeur
// Dépend de : _variables.scss, _typography.scss
// Utilisé dans : pages/_home.scss

// Importation des mixins et variables globales
@use '../abstracts/mixins' as m;         // Mixins réutilisables (flex, container, etc.)
@use '../abstracts/variables' as v;      // Couleurs, tailles de police, espacements, etc.

// Bloc principal de la carte restaurant
.restaurant-card {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    will-change: transform;
  
    &__link {
      display: block;
      text-decoration: none;
      color: inherit;
      position: relative;
    }
  
    &__image-wrapper {
      position: relative;
      width: 100%;
      height: 180px;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  
    &__badge {
      position: absolute;
      top: 12px;
      right: 12px;
      background-color: v.$color-tertiary;
      color: v.$color-green-font;
      font-size: 14px;
      font-weight: 500;
      padding: 6px 12px;
    }
  
    &__info {
      padding: 16px 20px;
      @include m.flex($direction: column, $align: flex-start);
      gap: 5px;
    }
  
    &__name {
      font-size: v.$font-size-plate-title;
      font-weight: v.$font-weight-bold;
    }
  
    &__location {
      font-size: v.$font-size-restaurant-location;
      font-weight: v.$font-weight-light;
      color: black;
    }
  
    // Favori (système de cœur)
    &__checkbox {
      display: none;
    }
  
    &__favorite {
      position: absolute;
      bottom: calc(33px - 21px / 2);
      right: calc(33px - 22px / 2);
      width: 22px;
      height: 22px;
      font-size: 22px;
      cursor: pointer;
  
      i {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
      }
  
      .fa-regular {
        color: v.$color-grey-icon;
        opacity: 1;
        transform: scale(1);
      }
  
      .fa-solid {
        background: linear-gradient(0deg, v.$color-primary, v.$color-secondary);
        background-clip: text;
        color: transparent;
        opacity: 0;
        transform: scale(0);
      }
      
      &:hover .fa-solid {
        opacity: 1;
        transform: scale(1);
      }
    
      &:hover .fa-regular {
        opacity: 0;
        transform: scale(0);
      }
    }
  
    // État favori activé
    &__checkbox:checked + &__favorite {
      .fa-regular {
        opacity: 0;
        transform: scale(0);
      }
  
      .fa-solid {
        opacity: 1;
        transform: scale(1);
      }
    }
 
  

    // Zone pour ajouter des styles spécifiques au desktop
    @media screen and (min-width: 1024px) {
        // Tu peux ajouter ici des styles pour les cartes en desktop
    }
}