// Ce fichier regroupe les styles spécifiques aux pages du site (ex. : page d’accueil, page menu).
// Il permet de styliser chaque vue indépendamment des composants globaux.
// À importer avec : @use 'pages';
@forward 'restaurant';
