@use '../abstracts/variables';
@use '../abstracts/mixins';

.location {
    @include mixins.flex();
    height: 50px;
    gap: 16px;
    background-color: variables.$color-grey2;
    box-shadow: inset 0 3px 0px 0 rgba(0, 0, 0, 0.1),
    0 4px 4px 0 rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 1024px) {
        box-shadow: none;
    }
} 