@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

// layouts/_restaurant-hero.scss
.restaurant-hero {
    display: flex;
    width: 100%;
    height: 275px;
    
    &__image {
        width: 100%;
        height: 100%px;
        object-fit: cover;        
    }

    @media screen and (min-width: 1024px) {
        height: 383px;
    }
}