@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.restaurants {
    @include m.container;
    background-color: v.$color-bg;
    padding: 30px 20px;
    padding-bottom: 66px;

  &__title {
    font-size: v.$font-size-section-title;
    font-weight: v.$font-weight-bold;
    margin-bottom: 30px;
  }

  &__list {
    @include m.flex($direction: column, $align: center);
    gap: 28px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    
    &__list {
        @include m.flex($wrap: wrap, $justify: space-between, $align: stretch);
        gap: 35px 0px; // row-gap et column-gap
        max-width: 1080px;
      }
    
    .restaurant-card {
        width: calc(50% - 20px); // 4 cartes par ligne avec 20px de gap
        min-width: 250px;
    }
  }

  @media screen and (min-width: 1024px) {
      padding-bottom: 30px;
      max-width: 1055px; /* largeur maximale */
      width: 100%;       /* occupe toute la largeur si < max-width */
      margin: 0 auto;    /* centre horizontalement */
      box-sizing: border-box; /* inclut padding dans la largeur */
      &__list {
          @include m.flex($wrap: wrap, $justify: space-between, $align: stretch);
          gap: 50px 0px; // row-gap et column-gap
          max-width: 1080px;
        }
      
      .restaurant-card {
          width: calc(50% - 50px); // 4 cartes par ligne avec 20px de gap
          min-width: 250px;
      }
  }
}
