// Tailles de texte

$font-size-section-title: 24px;
$font-size-paragraph: 18px;
$font-size-button: 16px;
$font-size-section-title-2: 18px;
$font-size-plate-price: 15px;
$font-size-plate-title: 18px;
$font-size-plate-details: 15px;

// Couleurs principales

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Couleurs s

