// abstracts/_variables.scss
// Centralise toutes les valeurs du design system (couleurs, tailles, espacements...)
// Seul fichier où les valeurs brutes (px, %, #hex) sont autorisées
// Importé en premier dans main.scss
// Utilisé par : tous les fichiers du projet


// Font Family

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Shrikhand', sans-serif;

// Tailles de texte

$font-size-section-title: 24px;
$font-size-section-title-desktop: 40px;
$font-size-paragraph: 18px;
$font-size-button: 16px;
$font-size-section-title-2: 18px;
$font-size-plate-price: 15px;
$font-size-plate-title: 18px;
$font-size-plate-details: 15px;

// Font weight

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;



// Couleurs principales

// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #101010;
$color-bg: #f6f6f6;
$color-white: #fff;
$color-grey: #353535;
$color-grey-icon: #7E7E7E;
$color-grey2: #EAEAEA;

// Buttons

$btn-width: 186px;
$btn-height: 50px;
$btn-border-radius: 25px;
$btn-color: white;
$btn-bg-default: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
$btn-bg-hover: rgba(255, 255, 255, 0.15); // Overlay blanc 15%
$btn-shadow-default: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
$btn-shadow-hover: 0 4px 15px 0 rgba(0, 0, 0, 0.35);




