body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: center;
  background-color: #fff;
  height: 63px;
  position: relative;
}
.header__home-button {
  position: absolute;
  font-size: 16px;
  padding: 5.2px;
  top: 17px;
  left: 17px;
  color: #353535;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  width: 162px;
  height: 44px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    height: 96px;
  }
  .header__home-button {
    top: 33px;
  }
  .header__logo {
    width: 200px;
    height: 34.2px;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  height: 50px;
  gap: 16px;
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 0px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.location__text {
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  .location {
    box-shadow: none;
  }
}

.button {
  width: 186px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: inherit;
  z-index: -1;
  will-change: opacity;
}
.button:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  transform: translateZ(0);
}
.button:hover::before {
  opacity: 1;
}
.button--large {
  width: 218px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.button--large::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: inherit;
  z-index: -1;
  will-change: opacity;
}
.button--large:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  transform: translateZ(0);
}
.button--large:hover::before {
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.hero__title {
  text-align: center;
  margin-top: 39px;
  margin-bottom: 1rem;
  max-width: 76%;
  font-size: 24px;
  font-weight: 700;
}
.hero__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #353535;
  margin-bottom: 30px;
  max-width: 88%;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
}

.button {
  margin-bottom: 57px;
}

@media screen and (min-width: 1024px) {
  .button {
    margin-bottom: 30px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  background-color: #353535;
  padding: 22px 25px;
  gap: 16px;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.footer__links-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__links-partner {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__links-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.footer__icon {
  font-size: 13px;
  transform: scaleX(0.85);
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 66px 66px 30px 30px;
    gap: 90px;
  }
  .footer__title {
    text-align: start;
    height: 27px;
  }
  .footer__links-container {
    flex-direction: row;
    gap: 42px;
  }
  .footer__links-partner {
    flex-direction: row;
    gap: 8px;
  }
  .footer__links-info {
    flex-direction: row;
    gap: 16px;
  }
  .footer__link {
    gap: 9px;
  }
}

.functioning {
  padding: 48px 20px;
  background-color: #fff;
}
.functioning__container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
}
.functioning__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: functioning-counter;
}
.functioning__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: center;
  position: relative;
  width: 95%;
  padding: 26.2px 33.47px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 27px;
}
.functioning__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  font-size: 14.18px;
  font-weight: 500;
}
.functioning__icon {
  color: #7E7E7E;
  font-size: 20px;
}
.functioning__item:nth-child(3) .functioning__icon {
  color: #9356DC;
}
.functioning__text {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .functioning {
    padding: 50px;
  }
  .functioning__list {
    margin-left: 12px;
    flex-direction: row;
    gap: 36.51px;
  }
  .functioning__item {
    flex: 1;
    width: auto;
  }
  .functioning__title {
    margin-bottom: 25px;
  }
}

.restaurants {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 66px;
}
.restaurants__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  gap: 28px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    gap: 35px 0px;
    max-width: 1080px;
  }
  .restaurants .restaurant-card {
    width: calc(50% - 20px);
    min-width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-bottom: 30px;
  }
  .restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    gap: 50px 0px;
  }
  .restaurants .restaurant-card {
    width: calc(50% - 50px);
    min-width: 250px;
  }
}

.restaurant-hero {
  display: flex;
  width: 100%;
  height: 275px;
}
.restaurant-hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .restaurant-hero {
    height: 383px;
  }
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -55px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 32px 13px 40px;
  gap: 40px;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  margin-right: 3%;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.menu__order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  margin-top: 40px;
}

.restaurant__checkbox {
  display: none;
}

.restaurant__favorite {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  display: inline-block;
  width: 22px;
  height: 22px;
}
.restaurant__favorite i {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.restaurant__favorite .fa-regular {
  color: #7E7E7E;
  opacity: 1;
  transform: scale(1);
}
.restaurant__favorite .fa-solid {
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform: scale(0);
}
.restaurant__favorite:hover .fa-solid {
  opacity: 1;
  transform: scale(1);
}
.restaurant__favorite:hover .fa-regular {
  opacity: 0;
  transform: scale(0);
}

.restaurant__checkbox:checked + .restaurant__favorite .fa-regular {
  opacity: 0;
  transform: scale(0);
}
.restaurant__checkbox:checked + .restaurant__favorite .fa-solid {
  opacity: 1;
  transform: scale(1);
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-section__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-section__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
}
.menu-section__title {
  font-size: 16px;
  font-weight: 300;
}
.menu-section__underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.menu-item #plat1 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0s;
}
.menu-item #plat2 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.4s;
}
.menu-item #plat3 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.8s;
}
.menu-item #plat4 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 1.2s;
}
.menu-item #plat5 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 1.6s;
}
.menu-item #plat6 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 2s;
}
.menu-item #plat7 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 2.4s;
}
.menu-item #plat8 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 2.8s;
}
.menu-item #plat9 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 3.2s;
}
.menu-item #plat10 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 3.6s;
}
.menu-item #plat11 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 4s;
}
.menu-item #plat12 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 4.4s;
}
.menu-item #plat13 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 4.8s;
}
.menu-item #plat14 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 5.2s;
}
.menu-item #plat15 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 5.6s;
}
.menu-item #plat16 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 6s;
}
.menu-item #plat17 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 6.4s;
}
.menu-item #plat18 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 6.8s;
}
.menu-item #plat19 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 7.2s;
}
.menu-item #plat20 + label {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 7.6s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(320px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .menu-container {
    background-color: #fff;
  }
  .menu-container .menu {
    max-width: 80%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .menu-container {
    background-color: #fff;
  }
  .menu-container .menu {
    align-items: center;
    max-width: 1055px;
  }
  .menu-container .menu__header {
    gap: 24px;
  }
  .menu-container .menu-section {
    width: 60%;
  }
}

.loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: solid 2px #353535;
  box-shadow: inset 0 0 88px rgba(0, 0, 0, 0.85);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-size: 100% 200%;
  opacity: 0;
  animation: gradientMove 1s ease-in-out alternate, fadeOut 0s linear 3s forwards;
  animation-iteration-count: 3;
  z-index: 9999;
}
.loader__svg-wrapper {
  transform: translateY(-35px);
}
.loader__svg {
  transform: scale(1.4);
  transform-origin: center center;
  pointer-events: none;
}
.loader__svg #slice-pepper {
  transform-box: fill-box;
  transform: scaleY(0);
  animation: pepperSlice 1s ease-in-out;
  animation-iteration-count: 3;
}
.loader__svg #slice-pepper #slice-pepper-outside {
  fill: rgba(201, 0, 33, 0.932);
}
.loader__svg #slice-pepper #slice-pepper-inside {
  fill: rgba(94, 3, 18, 0.904);
}
.loader__svg #knife {
  transform: translate(-50px, 0);
  transform-origin: center bottom;
  animation: knifeBounce 1s ease-in;
  animation-iteration-count: 3;
}
.loader__svg #knife #knife-ext {
  fill: #353535;
}
.loader__svg #knife #knife-int {
  fill: #EAEAEA;
}
.loader__svg #toque-haut-wrapper {
  transform-origin: center bottom;
  z-index: 10;
  animation: toqueBounce 1s ease-in-out;
  animation-iteration-count: 3;
}
.loader__svg #toque-haut-shadow {
  fill: rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);
  transform-origin: center center;
  animation: toqueDeform 1s ease-in-out;
  animation-iteration-count: 3;
}
.loader__svg #toque-haut {
  fill: #EAEAEA;
  transform-origin: center center;
  animation: toqueDeform 1s ease-in-out;
  animation-iteration-count: 3;
}
.loader__svg #toque-bas {
  fill: #353535;
  transform-origin: center bottom;
  animation: basBounce 1s ease-in-out;
  animation-iteration-count: 3;
  z-index: 2;
}
.loader__svg #moustaches {
  fill: #101010;
  transform-origin: center bottom;
  animation: moustachesBounce 1s ease-in-out;
  animation-iteration-count: 3;
  z-index: 2;
}
.loader__svg #moustaches #moustache-l {
  transform-origin: right;
  transform-box: fill-box;
  animation: moustache-lAnim 1s ease-in-out;
  animation-iteration-count: 3;
}
.loader__svg #moustaches #moustache-r {
  transform-origin: left;
  transform-box: fill-box;
  animation: moustache-rAnim 1s ease-in-out;
  animation-iteration-count: 3;
}
.loader__svg #beard {
  fill: #101010;
  transform-origin: center bottom;
  animation: basBounce 1s ease-in-out;
  animation-iteration-count: 3;
  z-index: 2;
}
.loader__svg #pepper #pepper-outside {
  fill: rgba(201, 0, 33, 0.932);
}
.loader__svg #pepper #pepper-inside {
  fill: rgba(94, 3, 18, 0.904);
}
.loader__svg #pepper #pepper-tail {
  fill: rgba(0, 201, 27, 0.288);
}

@keyframes knifeBounce {
  0%, 100% {
    transform: translate(-50px, -25px);
  }
  9% {
    transform: translate(-55px, 3px);
  }
  40% {
    transform: translate(-45px, -20px);
  }
}
@keyframes pepperSlice {
  0%, 10% {
    transform: scaleY(0);
  }
  49% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes basBounce {
  0%, 12%, 70%, 100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-8px);
  }
}
@keyframes moustachesBounce {
  0%, 12%, 70%, 100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-8px);
  }
}
@keyframes moustache-lAnim {
  0%, 12%, 70%, 100% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-35deg) scaleX(1.4) scaleY(0.7);
  }
  35% {
    transform: rotate(5deg) scaleX(1.1) scaleY(0.9);
  }
}
@keyframes moustache-rAnim {
  0%, 12%, 70%, 100% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(35deg) scaleX(1.4) scaleY(0.7);
  }
  35% {
    transform: rotate(-5deg) scaleX(1.1) scaleY(0.9);
  }
}
@keyframes toqueBounce {
  0%, 13%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  60%, 80% {
    transform: translateY(1px);
  }
}
@keyframes toqueDeform {
  0%, 13%, 100% {
    transform: scaleY(1) scaleX(1);
  }
  22% {
    transform: scaleY(0.85) scaleX(1.2);
  }
  60% {
    transform: scaleY(1.35) scaleX(0.95);
  }
  80% {
    transform: scaleY(0.95) scaleX(1.05);
  }
}
@keyframes gradientMove {
  0% {
    background-position: 0 100%;
    opacity: 0.9;
  }
  100% {
    background-position: 0 0%;
    opacity: 0.9;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.restaurant-card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant-card__link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.restaurant-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.restaurant-card__image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.restaurant-card__badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 2px;
}
.restaurant-card__info {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  gap: 5px;
}
.restaurant-card__name {
  font-size: 18px;
  font-weight: 700;
}
.restaurant-card__location {
  font-size: 17px;
  font-weight: 300;
  color: black;
}
.restaurant-card__checkbox {
  display: none;
}
.restaurant-card__favorite {
  position: absolute;
  bottom: 22.5px;
  right: 22px;
  width: 22px;
  height: 22px;
  font-size: 22px;
  cursor: pointer;
}
.restaurant-card__favorite i {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.restaurant-card__favorite .fa-regular {
  color: #7E7E7E;
  opacity: 1;
  transform: scale(1);
}
.restaurant-card__favorite .fa-solid {
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform: scale(0);
}
.restaurant-card__favorite:hover .fa-solid {
  opacity: 1;
  transform: scale(1);
}
.restaurant-card__favorite:hover .fa-regular {
  opacity: 0;
  transform: scale(0);
}
.restaurant-card__checkbox:checked + .restaurant-card__favorite .fa-regular {
  opacity: 0;
  transform: scale(0);
}
.restaurant-card__checkbox:checked + .restaurant-card__favorite .fa-solid {
  opacity: 1;
  transform: scale(1);
}
.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}
.menu-item__toggle {
  display: none;
}
.menu-item__toggle:checked + .menu-item__label .menu-item__check {
  transform: translateX(0);
}
.menu-item__toggle:checked + .menu-item__label .menu-item__content {
  max-width: calc(100% - 59px - 40px - 13.5px);
}
.menu-item__toggle:checked + .menu-item__label .menu-item__title {
  overflow: hidden;
  white-space: nowrap;
}
.menu-item__toggle:checked + .menu-item__label .menu-item__details {
  overflow: hidden;
  white-space: nowrap;
}
.menu-item__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  cursor: pointer;
  position: relative;
}
.menu-item__content {
  padding: 13.5px 0 13.5px 13.5px;
  flex: 1;
  min-width: 0;
  max-width: calc(100% - 40px - 13.5px);
  transition: max-width 0.4s ease;
  overflow: hidden;
}
.menu-item__title {
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__info-line {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}
.menu-item__details {
  font-weight: 300;
  font-size: 15px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__price {
  font-weight: 700;
  font-size: 15px;
  position: absolute;
  left: -40px;
  bottom: 13.5px;
  flex-shrink: 0;
}
.menu-item__check {
  position: relative;
  width: 59px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  border-radius: 0 15px 15px 0;
}
.menu-item__check-icon {
  color: white;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */